
# Data
data/raw/
data/processed/
data/eeg_data/
*.csv

# Python
__pycache__/
src/data_processing/__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.pyc

# Notebooks
.ipynb_checkpoints/

#IOS
.DS_Store

#Node.js
Web_App/node_modules/
Web_App/dist/
Web_App/build/
Mobile_App/frontend/node_modules/
Mobile_App/frontend/dist/
Mobile_App/frontend/build/
