
# Data
data/raw/
data/processed/
data/eeg_data/
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Notebooks
.ipynb_checkpoints/

#IOS
.DS_Store

#Node.js
Web_App/node_modules/
Web_App/dist/
Web_App/build/
