#ML
numpy
matplotlib
seaborn
scipy
pandas
scikit-learn
joblib
tensorflow
torch

#API
flask
sqlalchemy
psycopg2-binary
flask-cors
passlib
bcrypt
pydantic
email-validator
pytest
requests
python-dotenv
PyJWT

#Mobile App
eel
pyserial
bleak